@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&family=Poppins:wght@400;500&display=swap');
* 
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

li {
  list-style: none;
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #0011fc;
  cursor: pointer;
}
